<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">

          <div class="card-header card-header-info">
            <h4 class="card-title">My Assigment {{selectedpageNumber}}</h4>
            <p class="card-category"></p>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <!--===============date picker==========-->
                <span class=" ui-float-label">
                  <p-calendar id="date" [(ngModel)]="dateSelected" [inputStyle]="{'height':'20px'}" [inline]="false"
                    dateFormat="dd-mm-yy" (onSelect)="onNewDateSelected($event)"></p-calendar>
                  <label for="date">Filter by Date</label>
                </span>

                <!--===============list of stories table==========-->
                <div *ngIf="storyPageAssignmentList.length>0">
                  <p-table #dt [columns]="cols" [value]="storyPageAssignmentList" dataKey="id" [paginator]="true"
                    [rows]="6" [scrollable]="true" scrollHeight="400px">
                    <ng-template pTemplate="caption">
                      <div>
                        <input type="text" pInputText placeholder="Search Page eg 1, 2..."
                          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%; float:right;
                                height:20px;" />
                        <span style="margin-left:-20px;">
                        </span>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 11px;">
                        <td style="width: 2em">
                          <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                              (click)="onPageRowExpanded(rowData.pageNumber)"></i>
                          </a>
                        </td>
                        <td class="text-capitalize">
                          <h6>PG-{{rowData.pageNumber}}</h6>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                      <tr>
                        <td [attr.colspan]="2">
                          <p-contextMenu #cm_ [model]="menuItem" appendTo="body"></p-contextMenu>
                          <p-table #_dt [columns]="_cols" [contextMenu]="cm_" [value]="rowData.listOfStoriesToSubEdit"
                            dataKey="eStoryId" (onRowSelect)="onSubEditorRowSelect($event)" selectionMode="single"
                            [pContextMenuRow]="Data" [globalFilterFields]="['pageNumber']"
                            [(selection)]="subEditorSelected" [(contextMenuSelection)]="subEditorSelected">
                            <ng-template pTemplate="caption">
                              <div>
                                <input type="text" pInputText placeholder="Search Story"
                                  (input)="_dt.filterGlobal($event.target.value, 'contains')" style="width:100%; float:right;
                                      height:25px;" />
                                <span style="margin-left:-20px;">
                                </span>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="body" let-Data let-columns="_columns">
                      <tr [pSelectableRow]="Data" [pContextMenuRow]="rowData">
                        <td>
                          <!--========story titles================-->
                          <div *ngIf="Data.storyName.length>=40" class="text-uppercase"
                            style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            <h6> {{Data.storyName | slice:0:40}}...</h6>
                          </div>
                          <!--========story titles================-->
                          <div *ngIf="Data.storyName.length<40" class="text-uppercase"
                            style="font-family: Georgia, 'Times New Roman', Times, serif;">
                            <h6> {{Data.storyName}}</h6>
                          </div>

                          <small> Assigned: {{ Data.dateChiefOfSubApprovalStatus | date: 'medium'}}</small>
                        </td>


                      </tr>
                    </ng-template>
                  </p-table>
                  </td>
                  </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div style="text-align: left">
                    </div>
                  </ng-template>
                  </p-table>
                </div>
                <div *ngIf="storyPageAssignmentList.length==0" style="font-style:italic;color:red;">
                  <p>No Stories where assined to pages for sub-editing on {{dateSelected | date}}</p>
                </div>
              </div>

              <div class="col-md-8" id="story">
                <!--==========display of story without sub-edited versions========== -->
                <div class="row" *ngIf="storySelected">
                  <div class="col-md-12">

                    <div class="card" *ngIf="storySelected.subEditorStoryVersionsList.length==0"
                      style="margin-top: 10px;">
                      <div class="card-header card-header-danger">
                        <h5 class="card-title">{{storyTitle}}</h5>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">

                            <div style="color: royalblue;"> {{storyReporters}}</div>

                            <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                              <div style="background: rgb(245, 247, 243); text-align: justify;font-size: 14px;font-family: Georgia, 'Times New Roman',
                              Times, serif;"  innerHtml={{storyContent}}>
                              </div>
                            </p-scrollPanel>

                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="col-md-4">
                          <div *ngIf="storySelected.storyFiles">
                            <button (click)="selectStory($event,storySelected,op3)"
                              class="pi pi-paperclip btn btn-sm">{{storyFiles.length}} files</button>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm btn-success" (click)="prepareAssignStoryToAnotherPage()">Move To
                            another
                            Page</button>
                        </div>

                        <div class="col-md-4">
                          <button class="btn btn-sm btn-danger" (click)="confirmRejectStory()">Initiate Rejection</button>
                        </div>
                      </div>
                    </div>

                    <!--==========display of story with sub-edited versions========== -->
                    <div class="card" *ngIf="storySelected.subEditorStoryVersionsList.length>0"
                      style="margin-top: 10px;">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12" style="color: royalblue;">{{storyReporters}}</div>
                        </div>

                        <!--==========display of story with sub-edited versions========== -->

                        <div class="row">
                          <!--===============Edited Versions==============-->
                          <div class="col-md-6">
                            <u>Your Edited Version ({{editedStoryNumberofWords}} words)</u>
                            <br>
                            <div *ngIf="subeditedVersionsList.length>0">
                              <p-table [value]="subeditedVersionsList" [paginator]="true" [rows]="1"
                                (onPage)="paginate($event)" [scrollable]="true" scrollHeight="300px">
                                <ng-template pTemplate="caption">
                                  {{estoryTitle}}
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                  <tr>
                                    <td>
                                      <div (click)="onStoryContentClicked()" innerHtml={{rowData.storyContent}} style="text-align: justify;
                                                 font-size: 14px;font-family: Georgia, 'Times New Roman',
                                                Times, serif;"></div>
                                    </td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                            <div *ngIf="subeditedVersionsList.length==0" style="color:red;font-style:italic">
                              No Story Sub-Edited versions where found</div>
                          </div>

                          <!--===========Original story version========================-->
                          <div (click)="onStoryContentClicked()" class="col-md-6">
                            <u>Original Version ({{originalStoryNumberofWords}} words)</u>
                            <p-table [rows]="1" [value]="EditedStory" [scrollable]="true" scrollHeight="350px">
                              <ng-template pTemplate="caption">
                                {{storyTitle}}
                              </ng-template>
                              <ng-template pTemplate="body" let-rowData>
                                <tr>
                                  <td>
                                    <!--===========Original story content version========================-->
                                    <div (click)="onStoryContentClicked()" style="background: rgb(245, 247, 243); text-align: justify;font-size: 14px;font-family: Georgia, 'Times New Roman',
                                        Times, serif;" innerHtml={{rowData.storyContent}}></div>
                                  </td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="col-md-4">
                          <div *ngIf="storySelected.storyFiles">
                            <button (click)="selectStory($event,storySelected,op3)"
                              class="pi pi-paperclip btn btn-sm">{{storyFiles.length}} files</button>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn-sm btn-success" (click)="prepareAssignStoryToAnotherPage()">Move To
                            another
                            Page</button>
                        </div>

                        <div class="col-md-4">
                          <button class="btn btn-sm btn-danger" (click)="confirmRejectStory()">Reject
                            Story</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="!storySelected">
                  <div class="col-md-12" id="story"
                    style="margin-top: 100px;font-size:30px; text-align:center;font-style: italic;">
                    Select Story
                  </div>
                </div>
              </div>
            </div>

            <!--======================Edit story content pop up=================-->
            <!--  <p-dialog header="Edit Story Content" [(visible)]="editStoryContentDisplay" [responsive]="true"
              showEffect="fade" [modal]="true" [style]="{width: '1250px', minWidth: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000">
              <div class="container-fluid">
                <div class="row" style="margin-top:30px;">
-->
                  <!--======================Story Title text box=================-->
               <!--   <div class="col-md-12">
                    <span class="ui-float-label">
                      <input id="float-input" type="text" [(ngModel)]="estoryTitle" class="form-control" size="30"
                        pInputText>
                      <label for="float-input">Story Title</label>
                    </span>
                  </div>
                </div>
              -->
                <!--======================Text editor=================-->
            <!--    <div class="row">
                  <div class="col-md-12" style="margin-top:30px;">
                    <ejs-richtexteditor #toolsRTE id='alltoolRTE' [(value)]="estoryContent" [toolbarSettings]='tools'>
                    </ejs-richtexteditor>
                  </div>
                </div>
              </div>
            
              <p-footer>
                -->
                <!--=====================Button save story content=================-->
                <!--<button type="button" pButton icon="pi pi-check" (click)="confirmEditStory()"
                  label="Save Changes"></button>
                <button type="button" pButton icon="pi pi-close" (click)="editStoryContentDisplay=false" label="Cancel"
                  class="ui-button-secondary"></button>
              </p-footer>
            </p-dialog>
          -->
            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>



            <!--=====================   List of files overlay pane=================-->
            <p-overlayPanel #op3 [dismissable]="false" [showCloseIcon]="true" appendTo="body">
              <p-table [value]="storySelected.storyFiles" *ngIf="storySelected" [style]="{width: '350px'}"
                [paginator]="true" [rows]="5">
                <ng-template pTemplate="caption">
                  List of files
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                  <tr>
                    <td style="font-size: 11.5px;">
                      {{rowData.fileName}}
                    </td>
                    <td>
                      <i class="pull-right pi pi-eye" (click)="openFile(rowData.fileContent)">View</i>
                    </td>
                    <td>
                      <i class="pull-right pi pi-trash" (click)="confirmRemoveFile(rowData)">Delete</i>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                </ng-template>
              </p-table>
            </p-overlayPanel>

            <!--=====================  change Story BookPage Assignment pop up=================-->
            <p-dialog header="Change Story Page" [(visible)]="changeStoryBookPageAssignmentDisplay" [responsive]="true"
              showEffect="fade" [modal]="true"
              [style]="{width: '1250px', minWidth: '200px',height: '450px', minHeight: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000">
              <div class="container-fluid">
                <div class="row" style="height: 200px;">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <span class="ui-float-label">
                      <p-autoComplete id="pages" [suggestions]="filteredPages" field="pageNumber"
                        (onSelect)="onPageNumberChanged($event)" (completeMethod)="filterPages($event)" [size]="30"
                        [minLength]="1" [dropdown]="true">
                      </p-autoComplete>
                      <label for="pages">Book Pages</label>
                    </span>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
            </p-dialog>


            <!--================story comments dialog========================-->
            <p-dialog header="{{storyTitle}}" [(visible)]="storyCommentDisplay" [responsive]="true" showEffect="fade"
              [modal]="true" [style]="{width: '750px', minWidth: '200px', minHeight: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <h4 style="color: red;">Comments</h4>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p-scrollPanel [style]="{width: '100%', height: '450px'}">
                      <ul>
                        <li *ngFor="let comment of comments" class="media">
                          <div class="container-fluid">
                            <div class="row" style="margin-top: 5px">
                              <div class="col-md-6">
                                <div *ngIf="comment.storyOwer==false">
                                  <p-card subheader="{{comment.username}}" [style]="{'width': '360px'}">
                                    <div
                                      style="margin-top: 5px; margin-top: 5px;font-size: 10; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                      <p>{{comment.comment }}</p>
                                    </div>
                                    <div><small>{{comment.date | date:"medium" }}</small></div>
                                  </p-card>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div *ngIf="comment.storyOwer==true">
                                  <p-card subheader="{{comment.username}}"
                                    [style]="{'width': '360px', 'background-color': 'rgb(214, 212, 212)'}">
                                    <div
                                      style="font-size: 10; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                      <p>{{comment.comment }}</p>
                                    </div>
                                    <div><small>{{comment.date | date:"medium" }}</small></div>
                                  </p-card>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </p-scrollPanel>
                  </div>
                </div>
              </div>
              <p-footer>
                <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
                  <div class="row">
                    <div class="col-md-8">
                      <textarea [rows]="3" class="form-control" pInputTextarea formControlName="comment"
                        autoResize="autoResize"></textarea>
                    </div>

                    <div class="col-md-4">
                      <button mat-raised-button type="submit" [disabled]="!commentForm.valid"
                        class="btn btn-danger pull-right">Submit</button>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </form>
              </p-footer>
            </p-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>