<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">

          <div class="card-header card-header-info">
            <h4 class="card-title">ERROR!!</h4>
            <p class="card-category"></p>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-4">

<h3 style="color: red; margin-top:80px;">ACCESS DENIED OR REQUEST COMPONENT NOT FOUND</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>